---
permalink: /
---
<!doctype html>
<html>
{% include head.html %}
<body>
  <div id="root">
    {% include navbar.html %}
    <div class="movember-banner page-top">This year I'm doing Movember. Please donate <a href="https://mobro.co/ccrisp">here</a>.</div>
    <div class="introduction container">
      <div id="intro--small" style="flex-direction:column; display: none"> 
        <img src='/assets/me-normal.jpg' class='me-mobile' /> 
        <div class='intro-box'>
          <h1>I'm Charlie Crisp!</h1>
          I am a software engineer who graduated with a 1st class degree in Computer Science from the University of Cambridge in June 2018.
          <br />
          <br />
          <b>Email: [firstname][lastname]249@gmail.com</b>
        </div>
      </div>
      <div id="intro--large" class='large-introduction container'> 
        <div class='intro-text'>
          <h1>I'm Charlie Crisp!</h1>
          I am a software engineer who graduated with a 1st class degree in Computer Science from the University of Cambridge in June 2018.
          <br />
          <br />
          <b>Email: [firstname][lastname]249@gmail.com</b>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <script src="/js/intro_size_selector.js"></script>
</body>
</html>