<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-blue header" >
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      {% for route in site.data.navbarRoutes %}
        {% if route.icon_class %}
          <li>
            <a href="fa {{ route.url }} icon" class="nav-link" target="_blank">
              <i class="{{ route.icon_class }}"></i>
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ route.url }}" style="lineHeight: 'normal'"> {{ route.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>