.introduction {
  margin: 0 0 20px 0;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  width: 100%;
}

.large-introduction {
  background: url('/assets/me.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 15%;
  color: #ccc;
  padding-bottom: 20px;
  margin-top: -5px;
  display: flex;
  justify-content: flex-end;
}

.fa {
  position: relative;
  height: 100%;
  margin-left: auto;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  max-width: 100% !important;
}

@media screen and (max-width:700px) {
  .container { flex-wrap: wrap;  }
}

.me-mobile {
  width: 100%;
  padding-top: 0px;
  margin-top: -5px;
}

.intro-text {
  min-width: 50px;
  width: 300px;
  margin: 10px 30px 10px 0px;
  margin-left: 55%;
  height: 300px;
}

@media screen and (max-width:770px) {
  .intro-box { 
    flex-wrap: wrap;
    margin: 0px 30px 30px 30px;  
  }
}

h1 {
  margin-top: 10px;
}

.movember-banner {
  width: 100%;
  text-align: center;
  padding: 20px;
}


.selected-positions {
  margin: 20px;
  @media screen and (min-width: 770px) {
    width: auto;
  } 
}

.routeTile {
  @media screen and (max-width: 770px) {
    width: 100%;
  } 
  @media screen and (min-width: 770px) {
    width: 50%;
  } 
  // @media screen and (min-width: 1100px) {
  //   width: 33%;
  // } 
  padding-top: 13%;
  padding-bottom: 15%;
  text-align: center; /* For IE8 and earlier */
  cursor: pointer;
  overflow:hidden;
  position: relative;
}

.routeTile h1 {
  color: #000;
  font-family: Roboto Slab, sans-serif;
}


.routeTileHolder {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  margin-top: -20px;
  max-width: 800px;
}
