body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EEE9E9;
  display: flex;
  justify-content: center;
}

.page-top {
  margin-top: 65px;
}

.main-app-container {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}