nav {
  font-family: Roboto Slab, sans-serif;
}

i.fa {
  font-size: 32px;
}

ul {
  margin-left: auto;
  margin-right: 0;
}

.bg-blue {
  background-color: #004c5a;
}

.fa {
  font-size: 1.4em;
}

.nav-item {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.nav-link {
  text-align: center;
}