.position-info-container {
  padding: 0 2vh 2vh 2vh;
  background-color: #fff;
  flex: 0 2 auto;
}

.position-info-body {
  display: none;
}

.selected-positions {
  margin: 20px;
  @media screen and (min-width: 770px) {
    width: auto;
  } 
}

.position-info-main {
  margin-top: 10px;
}

.position-container {
  display: flex;
  flex-direction: column;
  background-color: ece9d;
  height: auto;
  width: 100%;
  max-width: 800px;
  margin-bottom: 4vh;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}