---
permalink: /blogs
---

<html>
{% include head.html %}
<body>
  <div id="root" class="main-app-container">
    {% include navbar.html %}
    <div class="selected-positions">
    <h1 class="page-top">Selected Blogs and Workshops</h1>
    {% for blog in site.data.blogs %}
    <div class="position-container">
        <div class="image-container" >
            <div class="screenshot-container">
            <img src="{{blog.image}}"/>
            </div>
        </div>
        <div class="position-info-container">
            <div class="position-info-main">
            <div class="positionTile" data-id="{{ blog.id}}" style="cursor:pointer;display:flex;flex-direction:row;align-items:center;position:relative;">
                <h2>
                {{ blog.title }}
                </h2>
                <h2 style="margin-left:auto"><i class="fa fa-plus" aria-hidden="true"></i></h2>
            </div>
            <div>{{ blog.date }}</div>
            <a href="{{ blog.url }}">
              <i class="fa fa-link" aria-hidden="true"></i>
              Webpage
            </a>
            </div>
            <div class='position-info-body' id="{{ blog.id }}" style="display:none;">
            <h3>Description</h3>
            {{ blog.description }}
            <div>{{ blog.background }}</div>
            {% if blog.links %} 
                <div>
                    <h3>Links</h3>
                    <ul>
                    {% for link in blog.links %}
                        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
  </div>
  <script src="/js/intro_size_selector.js"></script>
  <script src="/js/set_on_clicks.js"></script>
  <script src="/js/set_expand_sections.js"></script>
</body>
</html>