---
permalink: /education
---

<html>
{% include head.html %}
<body>
  <div id="root" class="main-app-container">
    {% include navbar.html %}

    <div class="page-top">
        <h1>Education</h1>
        <div class="position-container">
            <div class="image-container">
                <div class="screenshot-container">
                    <img src="/assets/cambridgebanner.png">
                </div>
            </div>
            <div class="position-info-container">
                <div class="position-info-main">
                    <h2>B.A. Computer Science - 1st Class Honours</h2>
                </div>
            <div>
                <a href="https://www.cl.cam.ac.uk" target="_blank">University of Cambridge</a>
            </div>
            <div>
                2015-2018
            </div>
            <div>
                <div>
                    <p>
                        I studied Computer Science at Pembroke College, Cambridge University, achieving a 1st class grade in my final year.
                        As part of my degree, I took courses including Machine Learning, Graphics, Distributed and Concurrent Systems and I completed a dissertation about Blockchain.
                    </p>
                </div>
                <div>
                    <h3>Dissertation - Building a Blockchain Library For OCaml</h3>
                    <p>
                        My final year dissertation is titled 'Building a Blockchain Library for OCaml'.
                        It achieved a first class grade and the dissertation and source code are currently hosted openly on GitHub.
                    </p>
                    <div>
                        <h4>Links</h4>
                        <ul>
                            <li><a href="https://github.com/CharlieCrisp/Logan">Source Code</a></li>
                            <li><a href="https://github.com/CharlieCrisp/Dissertation">Dissertation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  </div>
  <script src="/js/intro_size_selector.js"></script>
  <script src="/js/set_on_clicks.js"></script>
</body>
</html>