---
permalink: /positions
---
<html>
{% include head.html %}
<body>
  <div id="root" class="main-app-container">
    {% include navbar.html %}
    <div class="selected-positions">
    <h1 class="page-top">Selected Positions</h2>
    {% for position in site.data.positions %}
    <div class="position-container">
        <div class="image-container" >
            <div class="screenshot-container">
            <img src="{{position.image}}"/>
            </div>
        </div>
        <div class="position-info-container">
            <div class="position-info-main">
            <div class="positionTile" data-id="{{ position.id}}" style="cursor:pointer;display:flex;flex-direction:row;align-items:center;position:relative;">
                <h2>
                {{ position.title }}
                </h2>
                <h2 style="margin-left:auto"><i class="fa fa-plus" aria-hidden="true"></i></h2>
            </div>
            {% if position.company %}
                <div> 
                {% if position.company_url %} 
                    <a href="{{ position.company_url }}" target="_blank"> {{ position.company }} </a> 
                {% else%}
                    {{ position.company }}
                {% endif %}
                </div> 
            {% endif %}
            <div>{{ position.date }}</div>
            </div>
            <div class='position-info-body' id="{{ position.id }}" style="display:none;">
            <h3>Background</h3>
            <div>{{ position.background }}</div>
            <h3>Role</h3>
            <div>{{ position.role }}</div>
            {% if position.links %} 
                <div>
                    <h3>Links</h3>
                    <ul>
                    {% for link in position.links %}
                        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
  </div>
  <script src="/js/intro_size_selector.js"></script>
  <script src="/js/set_on_clicks.js"></script>
  <script src="/js/set_expand_sections.js"></script>
</body>
</html>