---
permalink: /projects
---
<html>
{% include head.html %}
<body>
  <div id="root" class="main-app-container">
    {% include navbar.html %}
    <div class="selected-positions">
    <h1 class="page-top">Selected Projects</h1>
    {% for project in site.data.projects %}
    <div class="position-container">
      <div class="image-container" >
          <div class="screenshot-container">
          <img src="{{ project.image }}"/>
          </div>
      </div>
      <div class="position-info-container">
        <div class="position-info-main">
          <div class="positionTile" data-id="{{ project.id }}" style="cursor:pointer;display:flex;flex-direction:row;align-items:center;position:relative;">
              <h2>
              {{ project.title }}
              </h2>
              <h2 style="margin-left:auto"><i class="fa fa-plus" aria-hidden="true"></i></h2>
          </div>
          <div>{{ project.date }}</div>
          <a href="{{ project.url }}">
            <i class="fa fa-link" aria-hidden="true"></i>
            Webpage
          </a>
          <br>
          {{ project.short_description}}
          
          <div class='position-info-body' id="{{ project.id }}" style="display:none;">
            <h3>Project</h3>
            <div>{{ project.long_description }}</div>
            {% if project.links %} 
              <div>
                  <h3>Links</h3>
                  <ul>
                  {% for link in project.links %}
                      <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                  {% endfor %}
                  </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <script src="/js/intro_size_selector.js"></script>
  <script src="/js/set_on_clicks.js"></script>
  <script src="/js/set_expand_sections.js"></script>
</body>
</html>